Repository CardanoSolutions/ogmios, pull requests merged in 2021-06, with the labels that each got.

#66 Alonzo - Part 2 (JSON Schema for Alonzo data-types)
  .github/workflows/continuous-integration.yaml
  CHANGELOG.md
  clients/TypeScript/packages/client/src/StateQuery/StateQueryClient.ts
  clients/TypeScript/packages/client/src/StateQuery/queries/delegationsAndRewards.ts
  clients/TypeScript/packages/client/src/StateQuery/queries/nonMyopicMemberRewards.ts
  clients/TypeScript/packages/client/src/StateQuery/queries/utxo.ts
  clients/TypeScript/packages/client/src/TxSubmission/errors.ts
  clients/TypeScript/packages/client/src/TxSubmission/submitTx.ts
  clients/TypeScript/packages/client/test/StateQuery.test.ts
  docs/static/ogmios.wsp.json
  server/modules/hspec-json-schema/CHANGELOG.md
  server/modules/hspec-json-schema/src/Test/Hspec/Json/Schema.hs
  server/modules/hspec-json-schema/test/Test/Hspec/Json/SchemaSpec.hs
  server/ogmios.cabal
  server/package.yaml
  server/src/Ogmios/Data/Json/Allegra.hs
  server/src/Ogmios/Data/Json/Alonzo.hs
  server/src/Ogmios/Data/Json/Byron.hs
  server/src/Ogmios/Data/Json/Mary.hs
  server/src/Ogmios/Data/Json/Prelude.hs
  server/src/Ogmios/Data/Json/Shelley.hs
  server/test/golden/QueryResponse-utxo_1.json
  server/test/golden/SubmitTxResponse_1.json
  server/test/unit/Ogmios/Data/JsonSpec.hs
Labels: client/TypeScript, documentation, server

#72 Rework JSON logs, in particular nested logs from the network layer
  CHANGELOG.md
  server/cabal.project
  server/modules/cardano-client/cardano-client.cabal
  server/modules/cardano-client/package.yaml
  server/modules/cardano-client/src/Cardano/Network/Protocol/NodeToClient.hs
  server/modules/cardano-client/src/Cardano/Network/Protocol/NodeToClient/Trace.hs
  server/modules/json-via-show/CHANGELOG.md
  server/modules/json-via-show/README.md
  server/modules/json-via-show/json-via-show.cabal
  server/modules/json-via-show/package.yaml
  server/modules/json-via-show/src/Data/Aeson/Via/Show.hs
  server/modules/json-via-show/src/Data/Aeson/Via/Show/Internal.hs
  server/modules/json-via-show/test/unit/Data/Aeson/Via/ShowSpec.hs
  server/ogmios.cabal
  server/package.yaml
  server/src/Ogmios.hs
  server/src/Ogmios/App/Health.hs
  server/src/Ogmios/App/Metrics.hs
  server/src/Ogmios/App/Server.hs
  server/src/Ogmios/App/Server/WebSocket.hs
  server/src/Ogmios/Data/Json.hs
  server/src/Ogmios/Data/Json/Prelude.hs
  server/stack.yaml
Labels: server

#75 feature: external Haskell node client interoperability with cardano-node-ogmios
  Dockerfile
  docs/content/getting-started/docker.md
  scripts/cardano-node-ogmios.sh
Labels: enhancement

#74 Unit tests for Ouroboros mini-protocols using simulated IO
  server/modules/cardano-client/src/Cardano/Network/Protocol/NodeToClient.hs
  server/modules/json-wsp/CHANGELOG.md
  server/modules/json-wsp/src/Codec/Json/Wsp.hs
  server/modules/json-wsp/src/Codec/Json/Wsp/Handler.hs
  server/ogmios.cabal
  server/package.yaml
  server/src/Ogmios/App/Options.hs
  server/src/Ogmios/App/Protocol.hs
  server/src/Ogmios/App/Protocol/ChainSync.hs
  server/src/Ogmios/App/Protocol/StateQuery.hs
  server/src/Ogmios/App/Protocol/TxSubmission.hs
  server/src/Ogmios/App/Server/WebSocket.hs
  server/src/Ogmios/Data/Json/Prelude.hs
  server/src/Ogmios/Data/Json/Query.hs
  server/src/Ogmios/Data/Protocol/ChainSync.hs
  server/src/Ogmios/Data/Protocol/StateQuery.hs
  server/src/Ogmios/Data/Protocol/TxSubmission.hs
  server/src/Ogmios/Prelude.hs
  server/test/unit/Ogmios/App/Protocol/ChainSyncSpec.hs
  server/test/unit/Ogmios/App/Protocol/StateQuerySpec.hs
  server/test/unit/Ogmios/Data/JsonSpec.hs
  server/test/unit/Test/App/Protocol/Util.hs
  server/test/unit/Test/Generators.hs
Labels: server
